.container{
    width: 100%;
    height: auto;
    border :1px solid;
    display: flex;
}
.product{
    width: 50%;
    border: 1px solid;
}
.price{
    width: 40%;
    border: 1px solid;
}

.photo{
    width: 80%;
    height: 300px;
    margin-top: 20px;
}
.photo>img{
    width: 50%;
    height: 70%;
}